# Logs
*.log
npm-debug.log*
nohup.*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# JetBrains IDE 
.idea

*.js.map

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

.DS_Store
dist

# Temporary directories
tmp

# Generated js in TypeScript source directories.
*.js
!semantic/src/**/*.js
!semantic/*.js

options.sh
