html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

div.main-menu {
    height: 62px;
}

i {
    color: rgb(41, 171, 226);
}

.toastify {
    z-index: 10000;
}

.toastify--bottom-center {
    min-width: 600px;
    margin-left: -300px;
    margin-bottom: 40px;
}

.rt-td {
    align-items: center;
    display: flex;
}

.ReactTable .rt-thead.-header {
    box-shadow: none;
}

.ReactTable .rt-tbody {
    border-top: 1px solid rgb(233, 236, 239);
}

.ReactTable {
    border: 1px solid rgba(34, 36, 38, .15);
}

.ReactTable .-pagination {
    border-top: none;
    border-bottom: 1px solid rgb(233, 236, 239);
    box-shadow: none;
}

.highcharts-credits {
    visibility: hidden;
}

button.active-button i {
    color: white;
}

.cxtmenu-disabled {
    opacity: 0.333;
}