html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #73879C;
}

label {
    font-weight: 500;
}

th {
    font-weight: 500;
}

table {
    font-size: 13px;
}

.panel-body {
    padding: 0;
}

.panel-title {
    font-weight: normal;
}

.dropdown-toggle {
    width: 100% !important;
    text-align: left !important;
}

.nav_tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    border-left: 1px solid #ADB2B5;
    margin-top: 5px
}

.tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
}

.list-group-item-menu {
    color: #5bc0de;
    background-color: #294054;
    border: none;
    font-size: 14px;
}

a.list-group-item-menu,
button.list-group-item-menu {
    color: #5bc0de;
}
a.list-group-item-menu .list-group-item-heading,
button.list-group-item-menu .list-group-item-heading {
    color: inherit;
}
a.list-group-item-menu:hover,
button.list-group-item-menu:hover,
a.list-group-item-menu:focus,
button.list-group-item-menu:focus {
    color: #5bc0de;
    background-color: #c4e3f3;
}
a.list-group-item-menu.active,
button.list-group-item-menu.active,
a.list-group-item-menu.active:hover,
button.list-group-item-menu.active:hover,
a.list-group-item-menu.active:focus,
button.list-group-item-menu.active:focus {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

a.active2 {
    color: #fff;
}